html{
    background:url('https://images7.alphacoders.com/110/thumb-1920-1103663.jpg');
    background-size: 110%;
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    
}
form{
    background-color: #402824;
    text-align: left;
    flex-wrap: wrap;
    margin: 0px 25rem 0px 25rem;
    padding: 20px;
    opacity: 0.9;
    border-radius: 3%;
}
div{
    padding: 12px;
    
}
label{
    padding: 10px 0px 10px 0px;
}
#name,#email,#number,#dropdown,#dropdown2,#texto{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 0;
}
